*{margin: 0px; padding: 0px;}

/*cabeçalho */

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6f5097;
    /* Áreas de grid utilizadas para posicionar o conteúdo principal (7 linhas, 1 coluna) */    
    display: flex;
    flex-direction: column;
    /* Necessário para que o rodapé sempre fique no final da págia */
    min-height: 100vh;
    grid-template-areas:"header" 
    "texto"
    "busca"
    "titmaisbuscados"
    "maisbuscados"
    "rodape";
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color:rgba(176, 176, 180, 0.335);
    padding: 1px 10px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: "logo . btnlogin btncadastro";
    align-items: center;
    grid-area: header;
}

header .logo{
    grid-area: logo;
    max-height: 45px;
    align-self: center;
    padding: 5px;
}


header .btnlogin {
    display: inline-block;
    grid-area: btnlogin;
    color:#6f5097;
    border-radius: 10px;
    max-height: 25px;
    align-self: center;
    padding: 5px;
    margin: 5px;
    padding-right: 20px;
    padding-bottom: 30px;
    border: solid #6f5097;
    text-align: left;
    background-image: url(img/logofficon.png);
    background-position: 94%;
    background-size: 15px;
    background-repeat: no-repeat;
    

}

header .btncadastro {
    grid-area: btncadastro;
    display: inline-block;
    color:#6f5097;
    border-radius: 10px;
    height: 25px;
    width: 100px;
    align-self: center;
    padding: 5px;
    margin: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    border: solid #6f5097;
    text-align: left;
}
.texto {
    padding: 30px;
    margin: 45px; ;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    letter-spacing: 2px;
    display: flex;
    flex-flow: row wrap;
    min-width: 80%;
    grid-area: texto;
    background-color:  hsla(266, 31%, 45%, 0.5);
    border-radius: 10px;

}

.texto h1 {
    color: black;
    font-weight: 600;
    font-size: 50px;
}

.texto p {
    text-align: justify;
    color: #212022;
    font-size: 25px;
}

.busca {
    align-items: center;
    justify-content: center;
    display: flex;
    grid-area: busca;
  
}

.busca #digitbusca {
    color: #212022;
    grid-area: busca;
    height: 50px; 
    width: 90%;
    padding: 5px; 
    font-size: 20px;
    background: rgba(176, 176, 180, 0.335);
    border: #6f50977a solid 1px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 35px;
    margin: 10px;
    background-image: url(img/magnifier.png);
    background-position: 10px 15px;
    background-repeat: no-repeat;
    background-size: 20px;
   
}

.busca button {
    background-color:  hsla(266, 31%, 45%); 
    color: #ffffff; 
    padding: 10px 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    margin: 1px;
    align-items: center;
}

.titmaisbuscados  {
    color: rgb(111, 80, 151);
    font-weight: 700;
    flex-flow: row wrap;
    font-style:initial;
    width: 90%;
    padding-left: 50px; 
    margin: 10px;
    grid-area: titmaisbuscados;
 
}

#maisbuscados {
    color: rgb(111, 80, 151);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 30px 10px 30px;
    grid-area: maisbuscados;
    display: flex;
    justify-content: center;
    /* Verificar se remove ou não, ao remover o comportamento do banner fica diferente em telas menores */
    flex-wrap: wrap;

}

.result-item {
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    width: 400px; /* largura fixa para cada item */
    color: rgb(111, 80, 151);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 30px 10px 30px;
    grid-area: maisbuscados;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.result-item img {
    width: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

    
/* rodapé */

footer{
    grid-area: rodape;
    display: flex;
    background-color: rgba(176, 176, 180, 0.335);
    color: #6f5097;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: auto;
}

footer p img{
    padding: 10px;
    max-height: 35px;
}

@media (max-width: 720px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 200px 1fr;
        grid-template-areas: "navbar"
        "texto busca" 
        "maisbuscados"
        "rodape";
        row-gap: 10px;
        column-gap: 20px;
    }

    .texto { 
        padding: 10px;
        margin: 20px;

    }
    .texto h1 {
        text-align:left;
        font-weight: 600;
        font-size: 18px;
    }
    
    .texto p {
        text-align:left;
        font-size: 13px;
    }

    .busca {
        margin: 0 auto;
        width:100%;
    
    }

    .titmaisbuscados  {
        font-weight: 600;
        font-size: 25px;
        margin: 5px;
        text-align: center;
       
    }
    
}
