/* Definições do body da página */
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6f5097;
    /* Áreas de grid utilizadas para posicionar o conteúdo principal (7 linhas, 1 coluna) */
    display: grid;
    /* Necessário para que o rodapé sempre fique no final da págia */
    min-height: 100vh;
    grid-template-areas: "header"
        "search"
        "label"
        "banner"
        "prestadores"
        "footer";
}

/* Definições do cabeçalho da página */
header {
    grid-area: header;
    background: rgba(176, 176, 180, 0.335);
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-height: 45px;
}

header img {
    padding: 5px;
    max-height: 35px;
}

header .hdrbuttons {
    display: flex;
    align-items: center;
}

/* Posicionamento e ajuste do botão de logoff no header */
header .logoffbtn {
    color: #6f5097;
    border-radius: 10px;
    max-height: 25px;
    padding: 5px;
    margin: 5px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: solid #6f5097;
    text-align: left;
    /* Utilização e posicionamento do ícone de logoff dentro do botão logoff*/
    background-image: url(imgs/logofficon.png);
    background-position: 94%;
    background-size: 15px;
    background-repeat: no-repeat;

}

/* Definições do conteúdo principal da página */
main {
    padding-top: 10px;
}

/* Posicionamento e ajuste do campo de pesquisa */
main .search {
    grid-area: search;
    /* Atribuição do flex layout para o campo de pesquisa */
    display: flex;
    max-height: 43px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Posicionamento e ajuste de tamanho da barra de pesquisa */
main .search .searchbar {
    width: 100%;
    margin: 0 auto;
}

/* Personalização do campo de pesquisa */
input[name="busca"] {
    width: 100%;
    padding: 12px 0;
    border-radius: 5px;
    background: rgba(176, 176, 180, 0.335);
    border: #6f50977a solid 1px;
    box-sizing: border-box;
    padding-left: 35px;
    /* Utilização e posicionamento do ícone de lupa dentro do campo de pesquisa */
    background-image: url(imgs/magnifier.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 20px;
}

/* Personalização do campo de pesquisa quando está em foco (quando o campo é clicado) */
input[type="text"]:focus {
    outline: none;
    border: solid #6f5097 2px;
    background-color: rgba(176, 176, 180, 0.25);
}

/* Posicionamento e ajuste do botão "Buscar" ao lado do campo de pesquisa */
main .search button {
    background-color: #6f5097;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: large;
}

/* Etiqueta de texto simples para mostrar o texto "Mais procurados" */
main .label {
    grid-area: label;
    padding-left: 10px;
}

/* Posicionamento e ajuste do banner "Mais procurados" */
main .banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    font-weight: bold;
    /* Verificar se remove ou não, ao remover o comportamento do banner fica diferente em telas menores */
    flex-wrap: wrap;
}

/* Borda arredondada e redimensionamento das imagens do banner */
main .banner div img {
    width: 95%;
    border-radius: 10px;
}

main #cardPrestadores {
    margin-bottom: 30px;
}

/* Container para exibição das informações de usuário */
main .prestadores {
    grid-area: prestadores;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    min-height: 180px;
    justify-content: center;
}

/* Posicionamento e ajuste da foto do usuário no container */
main .prestadores img {
    max-height: 105px;
    justify-content: right;
    align-self: center;
}

main .prestadores .prestadoresdscr {
    background-color: rgba(6, 6, 92, 0.335);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    border-radius: 15px;
}

main .prestadores .prestadoresdscr p {
    color: black;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

main .prestadores .prestadoresdscr .cardpreco {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

/* Posicionamento e ajuste das estrelas de avaliação do usuário */
main .prestadores .prestadoresdscr .cardpreco .stars img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Posicionamento e ajuste de preço do serviço dentro do container */
main .prestadores .prestadoresdscr .cardpreco .price {
    font-size: xx-large;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-right: 10px;
}

/* Notas adicionais relacionadas ao pagamento, ex: texto "preço médio" */
main .prestadores .prestadoresdscr .cardpreco .pricenote {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Posicionamento e ajustes do rodapé da página */
footer {
    grid-area: footer;
    display: flex;
    background-color: rgba(176, 176, 180, 0.335);
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-top: auto;
}

/* Ajuste das imagens utilizadas no rodapé */
footer p img {
    padding: 10px;
    max-height: 35px;
}