/* Definições do body da página */
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:#6f5097;
}

/* Definições do cabeçalho da página */
header{
    background: rgba(176, 176, 180, 0.335);
    display: grid;
    grid-template-columns: 1fr 30fr 1fr 1fr;
    /* Areas de grid utilizadas para fazer o header (1 linha, 4 colunas) */
    grid-template-areas: "logo . userroundbtn logoffbtn";
}

/* Posicionamento e ajuste da logo no header */
header>.logo{
    grid-area: logo;
    max-height: 35px;
    align-self: center;
    padding: 5px;
}

/* Definições do conteúdo principal da página */
main{
    height: 650px;
}

/* Posicionamento e ajustes do rodapé da página */
footer{
    display: flex;
    background-color: rgba(176, 176, 180, 0.335);
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 100%;
}

/* Ajuste das imagens utilizadas no rodapé */
footer>p>img{
    padding: 10px;
    max-height: 35px;
}




